@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1,h3{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: 100%;
    background-position: no-repeat;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 2px 0px 30px rgb(109, 109, 109);
}
.banner h1{
    font-size: 45px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}
.modal-btn{
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    background-color: #56ACDC;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.3s;
}
.modal-btn:hover{
    transform: scale(115%);
}
.modal-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(73, 166, 233, 0.3);
    z-index: -10;
    visibility: hidden;
}
.open-modal{
    z-index: 10;
    visibility: visible;
}
.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 0px 10px rgb(179, 179, 179);
    border-radius: 10px;
    height: 280px;
    width: 430px;
    position: relative;
}
.modal-container h3{
    font-size: 30px;
}
.close-btn{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: red;
    text-shadow: 0px 0px 3px rgb(175, 175, 175);
}
.close-btn:hover{
    animation: spin 0.3s ease-in-out;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}